# R files to ignore
*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.httr-oauth

# python files to ignore
python/build/*
python/dist/*
python/data/*
python/wddasylumclaims.egg-info/*
python/.vscode/*
*.egg-info/*
*.egg
*.py[cod]
__pycache__/
*.so
*~
# Data should be stored in azure database [not currently working] or in users documents
# previously stored data from this folder is avaiable here: 
# https://drive.google.com/drive/folders/12TQPUoxI76KMGwthTMI6tNrBIIArnSIp?usp=sharing
data/*

# python ignore exceptions
!python/data/keywords.csv
!python/.vscode/launch.json
!python/.vscode/tasks.json
!*__init__.py

# general files to ignore
.vscode/*

# general ignore exceptions
!.vscode/launch.json
!.vscode/tasks.json