# R files to ignore
*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.httr-oauth

# python files to ignore
python/build/*
python/dist/*
python/data/*
python/wddasylumclaims.egg-info/*
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# python ignore exceptions
!python/data/keywords.csv
!*__init__.py

# general files to ignore
.vscode/

# general ignore exceptions
!.vscode/launch.json
!.vscode/task.json